.body {
  background: #41b3a3;
  color: #dfdce3;
  display: flex;
  flex-direction: column;
  font-family: "Turret Road", cursive;
  font-family: "Nunito", sans-serif;
  height: 100vh;
}
/* header */
.directory {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}
.my-name {
  padding: 20px;
}
/* nav */
a {
  color: #dfdce3;
  text-decoration: none;
}
.button {
  background-color: rgb(255, 136, 0);
  border: none;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  display: inline-block;
  margin: 4px 2px;
  padding: 20px 32px;
  text-align: center;
  text-decoration: none;
}
.button:hover {
  background-color: rgb(255, 176, 86);
}
/* content main*/
.fld-c {
  flex-direction: column;
}
.pagetitle {
  align-items: center;
  background: #e87;
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 750px;
  padding: 20px;
  width: 50%;
}
.name {
  font-size: 300%;
  color: #d1eeee;
  margin: 2px;
}
.profilepic {
  height: 250px;
  float: left;
  padding: 24px;
  width: 175px;
}
.section-main {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}
.section-content {
  max-width: 60%;
}
/* content porfolio */
.portfolio-section {
  display: flex;
  justify-content: space-evenly;
  margin: 24px;
}
.photowrapper-portfolio {
  display: inline-block;
  position: relative;
}

.phototitles {
  background-color: rgb(255, 115, 0, 0.6);
  bottom: 12px;
  color: white;
  font-size: 24px;
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}

.portfolio-img {
  height: 250px;
  width: 200px;
}
.portfolio-img:hover {
  -moz-box-shadow: 0 0 20px rgb(255, 255, 255);
  -webkit-box-shadow: 0 0 20px rgb(255, 255, 255);
  box-shadow: 0 0 20px rgb(255, 255, 255);
}
/* content contact */

.contact-section {
  font-size: 24px;
  display: flex;
  justify-content: center;
  padding: 10px;
}
/* footer */
.end {
  display: flex;
  justify-content: center;
}

/* Portrait iPhone X */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
}
